<div class="alert alert-secondary shadow-sm">
  <h5 class="mb-2">Your Benchmark</h5>

  <%= render_benchmark_details(workout.details) %>

  <small class="text-muted">Try to beat this today!</small>
</div>
